<div class="container">
    <div>
        <mat-card class="assignment-card">
            <mat-card-header>
                <mat-card-title>Assignment 4 -> Advanced JavaScript</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <ul>
                    <li>Understand the Event Handling For example: click, onmouseover, etc.</li>
                    <li>Understand the scope and closures</li>
                    <li>
                        <strong>Assignments:</strong>
                        <ol>
                            <li>Counter with Closure</li>
                        </ol>
                    </li>
                </ul>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card class="action-card">
            <mat-card-actions align="end">
                <a mat-button href="" routerLink="/dashboard">Go To Dashboard</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>