<div class="container">
    <div>
        <mat-card class="assignment-card">
            <mat-card-header>
                <mat-card-title>Assignment 3 -> Core JavaScript Concepts</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <ul>
                    <li>Understand the objects.</li>
                    <li>Understand the how to defined objects in differnt ways. </li>
                    <li>Understand Arrays</li>
                    <li>Learn the differnt methods of arrays.</li>
                    <li>Understand the DOM </li>
                    <li>
                        <strong>Assignments:</strong>
                        <ol>
                            <li>Write down daily to-do lists or jot down quick notes using objects</li>
                            <li>Keep track of important dates, thoughts, and ideas using objects</li>
                            <li>Create the form with validation and submit the form using DOM</li>
                        </ol>
                    </li>
                </ul>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card class="action-card">
            <mat-card-actions align="end">
                <a mat-button href="" routerLink="/dashboard">Go To Dashboard</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>