<div class="container">
    <div>
        <mat-card class="assignment-card">
            <mat-card-header>
                <mat-card-title>Assignment 5 -> Asynchronous Programming</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <ul>
                    <li>Understand the Callback function</li>
                    <li>Understand the promise.</li>
                    <li>Difference between Callback and promise</li>
                    <li>
                        <strong>Assignments:</strong>
                        <ol>
                            <li>Write a program that simulates a simple vending machine. The vending machine should have the following characteristics:
                                <ul>
                                    <li>It should have an initial balance.</li>
                                     <li> It should offer at least three different items with different prices.</li>
                                     <li>When a user selects an item, it should check if the user has enough balance.</li>
                                     <li>If the user has enough balance, it should deduct the price of the item from the user's balance and dispense the item.</li>
                                     <li>If the user doesn't have enough balance, it should display a message indicating insufficient funds.</li>
                                     <li>After each purchase attempt, it should display the user's current balance.</li>
                                     <li>Use a callback function to handle the purchase attempt.</li>
                                </ul>
                            </li>
                            <li>Solve above points using promise</li>
                            <li><strong>JavaScript Assignment:</strong>
                                <ul>
                                    <li>Calculate Factorial </li>
                                    <li>To Do List</li>
                                    <li> Create a Rock Paper Scissors game</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                </ul>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card class="action-card">
            <mat-card-actions align="end">
                <a mat-button href="" routerLink="/dashboard">Go To Dashboard</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>