<div class="container">
    <div>
        <mat-card class="assignment-card">
            <mat-card-header>
                <mat-card-title>Assignment 2-> Intermediate Concepts</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <ul>
                    <li>Practice on different types of looping</li>
                    <li>Practice on different methods on Strings</li>
                    <li>Practice on different formats of dates</li>
                    <li>Practice on Conditional Statements.</li>
                    <li>
                        <strong>Assignments:</strong>
                        <ol>
                            <li>Calculate even odd number using various types for loops</li>
                            <li>Find the middle index of the string using methods</li>
                            <li>Get and set the dates using date format.</li>
                            <li>Find out the grade or cpga based on marks.</li>
                        </ol>
                    </li>
                </ul>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card class="action-card">
            <mat-card-actions align="end">
                <a mat-button href="" routerLink="/dashboard">Go To Dashboard</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>