<div class="container">
    <div>
        <mat-card class="assignment-card">
            <mat-card-header>
                <mat-card-title>Assignment 1 -> Learn JavaScript</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <ul>
                    <li>Learn JavaScript fundamentals.</li>
                    <li>Practice running JavaScript code in different ways.</li>
                    <li>Understand JavaScript data types.</li>
                    <li>Explore various operators with examples.</li>
                    <li>Study different types of functions with examples.</li>
                    <li>
                        <strong>Assignments:</strong>
                        <ol>
                            <li>Calculate the square of a given number (e.g., 10).</li>
                            <li>Find the area of a circle given its radius.</li>
                        </ol>
                    </li>
                </ul>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card class="action-card">
            <mat-card-actions align="end">
                <a mat-button href="" routerLink="/dashboard">Go To Dashboard</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>